# IDE
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store

# Gradle and Build Output
build/
.gradle/
captures/
.externalNativeBuild/
.cxx/

# Local configuration
local.properties
.env
debug.keystore

# Kotlin Multiplatform / iOS Specific
.kotlin/
.swiftpm/
*/iosApp/build/
*/iosApp/Pods/
*/iosApp/*.xcworkspace/xcuserdata/
*/iosApp/*.xcodeproj/xcuserdata/
*/iosApp/*.xcodeproj/project.xcworkspace/xcuserdata/
